/* FONTS! */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color: #085c11;
    --bg-color:#fff;
    --bg-scroll-color: 0px 1px 1px 1px rgba(207, 207, 207, 0.315),
                        0px 0px 2px 0px rgba(209, 207, 207, 0.315);
    --header-text-color:#033306;
    --nav-bg-color:#f0f0f0;
    --layout-bg-color:#0d4512;
    --button-text-color:#fff;


    /* FONTS, FONT-SIZES, FONT-WEIGHTS AND TYPOGRAPHHY */
    /*FONTS*/

    --poppins-font: poppins;

    /*FONT-WEIGHT*/
    --font-smaller:400;
    --font-small:500;
    --font-regular:600;
    --font-bold:700;
    --font-bolder:800;
    --font-boldest:900;

    --mb-2-5: 2.5rem;
    --pt-0-2: 1.5rem 0;
}

.letDark-theme-toggle {
    --text-color: #fff;
    --bg-color:#0d4512;
    --bg-scroll-color: 0px 1px 1px 1px rgba(207, 207, 207, 0.315),
                        0px 0px 2px 0px rgba(209, 207, 207, 0.315);
    --header-text-color:#fff;
    --nav-bg-color:#f0f0f0;
    --layout-bg-color:#fff;
    --button-text-color:#0d4512;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    transition: .5s ease;
    text-decoration: none;
    list-style: none;
}

body {
    /* padding: 0 7%; */
    background-color: var(--bg-color);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}



.preloader {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.8) url(../images/infinite-gif-preloader.gif) no-repeat center;
    z-index: 100;
    padding: 0 !important;
    box-sizing: border-box;
    margin: 0;
    transition: all .5s ease-in;
}

.header { 
    background-color: var(--bg-color);
    padding:2% 7%;
    width: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 1;
    
}

.show-header-box .header {
    box-shadow: var(--bg-scroll-color);
}
/* .header {
    padding: 2% 0;
    justify-content: space-between;
    position: fixed;
} */

.logo {
    font-size: 20px;
    font-weight: 700;
    color: var(--header-text-color);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

.logo .home-text .material-symbols-outlined {
    vertical-align: middle;
}

.home-text {
    font-weight: var(--font-smaller);
}

.navbar {
    position: relative;
}

.nav-list {
    gap: 2rem;
}

.nav-links {
    color: var(--header-text-color);
    font-size: 18px;
    font-weight: var(--font-bold);
    cursor: pointer;
}

.nav-links:hover,
.active {
    text-decoration: underline 1.5px;
}

/* LIGHT AND DARK TOGGLE */

.theme__toogle,
#theme-icon
{
    position: relative;
}


.toogle__light,
.toogle__dark 
{
    position: absolute;
    width: max-content;
    height: max-content;
    border: 1px solid #000;
    border-radius: 15px;
    cursor: pointer;
}

.toogle__light {
    opacity: 0;
    visibility: hidden;
}

.change-theme-icon .toogle__light {
    opacity: 1;
    visibility: visible;
    transform: rotate(-50deg);
}


.change-theme-icon .toogle__dark {
    transform: rotate(55deg);
    opacity: 0;
    visibility: hidden;
}

.theme__toogle,
.toogle__light,
.toogle__dark 
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/* HEADER BREAK_POINTS */

@media screen and (max-width: 920px) {

   
    .nav-list {
        gap:1.5rem;
    }
}

@media screen and (max-width: 767px) {

    .header {
        padding: 3% 3%;
    }
    .logo {
        z-index: inherit;
    }

    .navbar {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 10rem;
        border-radius: 15px;
        position: absolute;
        background-color: pink;
        width: 15%;
        background-color: #033306;
        opacity: 0;
        display: none;
        visibility: hidden;
        transition:all .3s ease;
        padding: 2% 0;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    .nav-list {
        display: grid !important;
    }

    .nav-links {
        display: none;
    }

    .mbnav-links {
        display: flex;
        padding: .2rem;
        border-radius: 18px;
        
    }

    .mbnav-links:hover,
    .isactive
    {
        background-color: #fff;
        padding: .2rem;
        border-radius: 18px;
        
    }
    .open .navbar {
        transition: right .3s ease;
        right: 3% !important;
        top: 1.5%;
        opacity: 1;
        visibility: visible;
        display: inherit;
    }

    .menu {
        position: relative;
        width: 35px;
        height: 35px;
    }

    .menu_open,
    .menu_close 
    {   cursor: pointer;
        position: absolute;
        width: max-content;
        height: max-content;
        font-size: 1.5rem;
        transition: opacity .3s, rotate .2s;
    }

    .menu_close {
        opacity: 0;
    }

    .open-icon .menu_open {
        transform: rotate(-75deg);
        opacity: 0;
    }

    .open-icon .menu_close {
        opacity: 1;
    }

    
}

@media screen and (max-width: 580px) {
    .navbar {
        position: fixed !important;
        height: max-content;
        width: max-content;
        padding: 3.5% 5%;
        right:0  !important;
        left: 0 !important;
        justify-self: center !important;
        bottom: 5%;
        display: flex !important;
        visibility: visible;
        opacity: 2;
    }

    .nav-list {
        display: flex !important;
        gap: 1.5rem;
    }

    .menu {
        display: none;
    }

    .theme__toogle {
        margin-right: 3rem;
    }


}

main {
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

section {
    padding: 0 7%;
    padding-block: 7rem 1rem;
}

.home-container {
    display: flex;
}

.home-container {
    position: relative;
    row-gap: 3em;
}

.home-intro {
    position: relative;
}

.home-title {
    color: var(--text-color);
    font-size: 4.5rem;
    font-family: var(--poppins-font);
    font-weight: var(--font-smaller);
    /* width: 85%; */
    /* line-height: 110px; */
}

.home-subtitle {
    padding: var(--pt-0-2);
    color: var(--text-color);
    font-size: 1.1rem;
    font-family: var(--poppins-font);
    font-weight: var(--font-regular);
}

.home-buttons {
    gap: 1.5rem;
    
}

.home__buttons {
    display: flex;
    width: 8.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    font-family: var(--poppins-font);
    font-weight: var(--font-small);
    font-size: 0.9rem;
}

.home__button-rent {
    background-color: var(--layout-bg-color);
    color: var(--button-text-color);
}

.home__button-rent-place {
    border: 1px solid var(--layout-bg-color);
    color: var(--text-color);
}

.home-image {
    padding: 1%;
    margin-right: -5.5rem ;
}

.home-img {
    width: 550px;
    height: 540px;
}



@media screen and (max-width: 380px) {

    .home-container {
        flex-direction: column;
        row-gap: 1rem;
    }

    .home-break {
        display: none;
    }

    .home-title {
        font-size: 1.8rem;
        font-weight:var(--font-small) ;
        text-align:center;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }

    .home-subtitle {
        font-size: 1rem;
        display: flex;
        text-align: center;
    }

    .home-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-image {
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
    }

    .home-img {
        width: 500px;
        height: 380px;
    }
}

@media screen and (min-width: 380px) {

    .home-container {
        flex-direction: column;
        row-gap: 1rem;
    }

    .home-break {
        display: none;
    }

    .home-title {
        font-size: 1.5rem;
        text-align:center;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }

    .home-subtitle {
        font-size: 1rem;
        display: flex;
        text-align: center;
    }

    .home-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-image {
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
    }

    .home-img {
        width: 450px;
        height: 380px;
    }
}

@media screen and (min-width: 480px) {
    
    .home-title {
        font-size: 2rem;
        font-weight: var(--font-regular);
    }
}
@media screen and (min-width: 600px) {
    
    .home-subtitle {
        font-size: 1.7rem;
        font-weight: var(--font-small);
    }

    .home-img {
        width: 599px;
        height: 580px;
    }
}


@media screen and (min-width: 767px) {

    .menu,
    .mbnav-links
    {
        display: none;
    }

    .home-img {
        width: 699px;
        height: 580px;
    }

}

@media screen and (min-width: 930px) {


    .home-container {
        display: flex;
    }
    
    .home-container {
        position: relative;
        row-gap: 3em;
    }
    
    .home-intro {
        position: relative;
    }

    .home-break {
        display: block;
    }

    .home-title,
    .home-subtitle,
    .home-buttons
    {
        align-items: start;
        justify-content: start;
        text-align: start;
    }
    
    .home-title {
        color: var(--text-color);
        font-size: 4.5rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-regular);
        /* width: 85%; */
        /* line-height: 110px; */
    }
    
    .home-subtitle {
        padding: var(--pt-0-2);
        color: var(--text-color);
        font-size: 1.1rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-regular);
    }
    
    .home-container,
    .home-buttons {
        gap: 1.5rem;
        flex-direction: row;
    }
    
    .home__buttons {
        display: flex;
        width: 8.5rem;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-small);
        font-size: 0.9rem;
    }
    
    .home__button-rent {
        background-color: var(--layout-bg-color);
    }
    
    .home__button-rent-place {
        border: 1px solid var(--layout-bg-color);
        color: var(--text-color);
    }
    
    .home-image {
        padding: 1%;
        margin-right: -5.5rem ;
    }
    
    .home-img {
        width: 550px;
        height: 540px;
    }

}
@media screen and (min-width: 1100px) {


    .home-container {
        display: flex;
    }
    
    .home-container {
        position: relative;
        row-gap: 3em;
    }
    
    .home-intro {
        position: relative;
    }

    .home-break {
        display: block;
    }

    .home-title,
    .home-subtitle,
    .home-buttons
    {
        align-items: start;
        justify-content: start;
        text-align: start;
    }
    
    .home-title {
        color: var(--text-color);
        font-size: 4.5rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-regular);
        /* width: 85%; */
        /* line-height: 110px; */
    }
    
    .home-subtitle {
        padding: var(--pt-0-2);
        color: var(--text-color);
        font-size: 1.1rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-regular);
    }
    
    .home-container,
    .home-buttons {
        gap: 1.5rem;
        flex-direction: row;
    }
    
    .home__buttons {
        display: flex;
        width: 8.5rem;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-small);
        font-size: 0.9rem;
    }
    
    .home__button-rent {
        background-color: var(--layout-bg-color);
    }
    
    .home__button-rent-place {
        border: 1px solid var(--layout-bg-color);
        color: var(--text-color);
    }
    
    .home-image {
        padding: 1%;
        margin-right: -5.5rem ;
    }
    
    .home-img {
        width: 550px;
        height: 540px;
    }

}



