/* FONTS! */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color: #085c11;
    --bg-color:#fff;
    --bg-scroll-color: 0px 1px 1px 1px rgba(207, 207, 207, 0.315),
                        0px 0px 2px 0px rgba(209, 207, 207, 0.315);
    --header-text-color:#033306;
    --nav-bg-color:#f0f0f0;
    --layout-bg-color:#0d4512;
    --button-text-color:#fff;
    --service-bg-color:#0d4512;
    --service-text-color:#fff;
    --review-border-color:#0d4512;
    --social-bg-color:#0d4215;
    --social-text-color:#fff;
    --main-link-text-color:#fff;
    /* FONTS, FONT-SIZES, FONT-WEIGHTS AND TYPOGRAPHHY */
    /*FONTS*/

    --poppins-font: poppins;

    /*FONT-WEIGHT*/
    --font-smaller:400;
    --font-small:500;
    --font-regular:600;
    --font-bold:700;
    --font-bolder:800;
    --font-boldest:900;

    --p-img:1%;
    --mb-2-5: 2.5rem;
    --pt-0-2: 1.5rem 0;
}

.letDark-theme-toggle {
    --text-color: #fff;
    --bg-color:#0d4512;
    --bg-scroll-color: 0px 1px 1px 1px rgba(207, 207, 207, 0.315),
                        0px 0px 2px 0px rgba(209, 207, 207, 0.315);
    --header-text-color:#fff;
    --nav-bg-color:#f0f0f0;
    --layout-bg-color:#fff;
    --button-text-color:#0d4512;
}

.letDark-theme-toggle .services__service-item{
    --service-bg-color:#000;
}

.letDark-theme-toggle .review__item {
    --review-border-color:#fff;
}

.letDark-theme-toggle .dev-social-link:hover {
    --social-bg-color:#fff;
    --social-text-color:#085c11;
}

.letDark-theme-toggle .main-link {
    --main-link-text-color:#085c11;
}
/* 
.letDark-theme-toggle .services__service-text-title
{
    --service-text-color:#085c11;
}

.letDark-theme-toggle .services__service-text-subtitle 
{
    --service-text-color:#085c11;
}
 */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    transition: .5s ease;
    text-decoration: none;
    list-style: none;
    font-family: var(--poppins-font);
}

body {
    /* padding: 0 7%; */
    background-color: var(--bg-color);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}



.preloader {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.8) url(../images/infinite-gif-preloader.gif) no-repeat center;
    z-index: 100;
    padding: 0 !important;
    box-sizing: border-box;
    margin: 0;
    transition: all .5s ease-in;
}

.header { 
    background-color: var(--bg-color);
    padding:2% 7%;
    width: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 1;
    
}

.show-header-box .header {
    box-shadow: var(--bg-scroll-color);
}
/* .header {
    padding: 2% 0;
    justify-content: space-between;
    position: fixed;
} */

.logo {
    font-size: 20px;
    font-weight: 700;
    color: var(--header-text-color);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

.logo .home-text .material-symbols-outlined {
    vertical-align: middle;
}

.home-text {
    font-weight: var(--font-smaller);
}

.navbar {
    position: relative;
    margin-left: 19.5rem;
}

.nav-list {
    gap: 2rem;
}

.nav-links {
    color: var(--header-text-color);
    font-family: var(--poppins-font);
    font-size: 18px;
    font-weight: var(--font-bold);
    cursor: pointer;
}

.nav-links:hover,
.active {
    text-decoration: underline 1.5px;
}

/* LIGHT AND DARK TOGGLE */

.theme__toogle,
#theme-icon
{
    position: relative;
    
}


.toogle__light,
.toogle__dark 
{
    position: absolute;
    width: max-content;
    height: max-content;
    border: 1px solid var(--text-color);
    border-radius: 15px;
    cursor: pointer;
    color: var(--text-color);
}

.toogle__light {
    opacity: 0;
    visibility: hidden;
}

.change-theme-icon .toogle__light {
    opacity: 1;
    visibility: visible;
    transform: rotate(-70deg);
    
}


.change-theme-icon .toogle__dark {
    transform: rotate(95deg);
    opacity: 0;
    visibility: hidden;
}

.theme__toogle,
.toogle__light,
.toogle__dark 
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/* HEADER BREAK_POINTS */

@media screen and (max-width: 1180px) {
    
    .navbar {
        margin-left: 10.5rem;
    }
}

@media screen and (max-width: 920px) {


    .nav-list {
        gap:1.5rem;
    }
}

@media screen and (max-width: 767px) {

    .header {
        padding: 3% 3%;
    }
    .logo {
        z-index: inherit;
    }

    .navbar {
        margin-left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 10rem;
        border-radius: 15px;
        position: absolute;
        background-color: pink;
        width: 15%;
        background-color: #033306;
        opacity: 0;
        display: none;
        visibility: hidden;
        transition:all .3s ease;
        padding: 2% 0;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    .nav-list {
        display: grid !important;
    }

    .nav-links {
        display: none;
    }

    .mbnav-links {
        display: flex;
        padding: .2rem;
        border-radius: 18px;
        color: #000;
        
    }

    .aside-nav {
        position: relative;
        gap: 4rem;
        display: flex;
    }

    .mbnav-links:hover,
    .isactive
    {
        background-color: #fff;
        padding: .2rem;
        border-radius: 18px;
        
    }
    .open .navbar {
        transition: right .3s ease;
        right: 3% !important;
        top: 1.5%;
        opacity: 1;
        visibility: visible;
        display: inherit;
    }

    .menu {
        position: relative;
        width: 35px;
        height: 35px;
    }

    .menu_open,
    .menu_close 
    {   cursor: pointer;
        position: absolute;
        width: max-content;
        height: max-content;
        font-size: 1.5rem;
        transition: opacity .3s, rotate .2s;
    }

    .menu_close {
        opacity: 0;
    }

    .open-icon .menu_open {
        transform: rotate(-75deg);
        opacity: 0;
    }

    .open-icon .menu_close {
        opacity: 1;
    }

    
}

@media screen and (max-width: 580px) {

    .header {
        justify-items: center;
    }
   body .header .navbar {
        position: fixed !important;
        height: max-content;
        width: max-content;
        padding: 3.5% 5%;
        right: 0;
        left: 0;
        justify-self: center !important;
        text-align: center;
        justify-items: center;
        bottom: 1%;
        display: flex !important;
        visibility: visible;
        opacity: 2;
    }

    .nav-list {
        display: flex !important;
        gap: 1.5rem;
    }

    .menu {
        display: none;
    }

    .theme__toogle {
        margin-right: 3rem;
    }


}

main {
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

section {
    padding: 0 7%;
    padding-block: 7rem 1rem;
}

.home-container {
    display: flex;
}

.home-container {
    position: relative;
    row-gap: 3em;
}

.home-intro {
    position: relative;
}

.home-title {
    color: var(--text-color);
    font-size: 4.5rem;
    font-family: var(--poppins-font);
    font-weight: var(--font-smaller);
    /* width: 85%; */
    /* line-height: 110px; */
}

.home-subtitle {
    padding: var(--pt-0-2);
    color: var(--text-color);
    font-size: 1.1rem;
    font-family: var(--poppins-font);
    font-weight: var(--font-regular);
}

.home-buttons {
    gap: 1.5rem;
    
}

.home__buttons {
    display: flex;
    width: 8.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    font-family: var(--poppins-font);
    font-weight: var(--font-small);
    font-size: 0.9rem;
}

.home__button-rent {
    background-color: var(--layout-bg-color);
    color: var(--button-text-color);
}

.home__button-rent-place {
    border: 1px solid var(--layout-bg-color);
    color: var(--text-color);
}

.imgPadding {
    padding: var(--p-img);
}

.home-image {
    margin-right: -5.5rem ;
}

.home-img {
    width: 550px;
    height: 540px;
}

.about__img {
    width: 500px;
    height: 390px;
}

.about-container {
    gap: 2rem;
   /*  row-gap: 2em; */
}

.about-intro {
    gap: 1rem;
}

.about-text {
    gap: 0.7rem;
      
}

.about-title {
    font-size: 4rem;
    font-weight: var(--font-bold);
    font-family: var(--poppins-font) !important;
    color: var(--text-color);
}

.about-subtitle,
.about-pre-Subtitle {
    font-size: 18px;
    color: var(--text-color);
    font-weight: var(--font-regular);
    font-family: var(--poppins-font);
}

.about-button {
    padding: var(--pt-0-2);
    margin-top: 1rem;
}

.about__button {
    height: 2.0rem;
    width: 8rem;
    background-color: var(--layout-bg-color);
    border-radius: 100px;
    color: var(--button-text-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-small);
    font-family: var(--poppins-font);
}

/* Services Style */

.service-container {
    padding: var(--pt-0-2);
}

.service-heading {
    text-align: center;
    padding: var(--pt-0-2);
}

.service-title,
.service-subtitle
{
    color: var(--text-color);
    font-family: var(--poppins-font);
}

.service-title {
    font-size: 4rem;
    font-weight: var(--font-bold);
}

.service-subtitle {
    font-size: 0.9rem;
    font-weight: var(--font-bold);
}

.services__service {
    grid-template-columns: repeat(3, 2.5fr);
    gap: 3rem;
    justify-self: center;
}

.services__service-item {
    background-color:var(--service-bg-color);
    width: 300px;
    height: max-content;
    gap: 2rem;
    padding: 2rem;
    border-radius: 30px;
}

.services-service_img {
    padding: var(--p-img);
    text-align: center;
}

.service-image {
    width: 120px;
    height: 110px;
    
}

.services__service-text {
    padding: .5rem;
}

.services__service-text-title,
.services__service-text-subtitle 
{
    color: var(--service-text-color);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.services__service-text-title {
    font-weight: var(--font-regular);
    font-family: var(--poppins-font);
    font-size: 1.5rem;
}

.services__service-text-subtitle  {
    margin-top: 1rem;
    font-size: 0.68rem;
    font-family: var(--poppins-font);
    font-weight: var(--font-small);
    width: 100%;
}

/* REVIEWS STYLES */


.review-container {
    padding: var(--pt-0-2);
}

.review-heading {
    text-align: center;
}

.review-title {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: var(--font-bold);
}

.review-subtitle {
    font-size: 0.9rem;
    color: var(--text-color);
    font-weight: var(--font-regular);
    margin-top: 1rem;
}

.reviews-item {
    padding: var(--pt-0-2);
    gap: 2rem;
    grid-template-columns: repeat(3, 3fr);
}

.review__item {
    border: 2px solid var(--review-border-color);
    width: 380px;
    height: 370px;
    padding: var(--pt-0-2);
    border-radius: 30px 134px 30px 134px;
}

.review-img {
    padding: var(--p-img);
    text-align: center;
}

.review__image {
    width: 170px;
    height: 160px;
}

.review-item-text {
    text-align: center;
}

.review-item-title,
.review-item-subtitle 
{
    color: var(--text-color);
}

.review-item-title {
    font-size: 1.4rem;
}

.review-item-subtitle {
    font-size: 0.9rem;
}

/* FOOTER AND CONTACT SECTIONS STYLE */


.footer {
    padding: var(--pt-0-2);
    padding-bottom: 3rem;
}

.footer-container {
    padding: 0 2%;
}

.footer-content {
    grid-template-columns: repeat(4, 5fr);
    gap: 3rem;
    row-gap: 3em;
}

.footer-about,
.fotter-links {
    padding:var(--pt-0-2);
    
}

.footer-about {
    gap: 0.5rem;
}

.footer-logo,
.footer-about-subtitle
 {
    color: var(--text-color);
}

.footer-logo {
    font-weight: var(--font-bolder);
    font-size: 1.6rem;
}

.footer-logo-light {
    font-weight: var(--font-smaller);
}

.footer-about-subtitle {
    font-weight: var(--font-regular);
    font-size: 1rem;
}

.fotter-links {
    gap: 1rem;
}

.fotter-link-title {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: var(--font-bold);
}

.fotter-main-links {
    font-size: 0.9rem;
    font-weight: var(--font-bolder);
    color: var(--text-color);
}

.footer-end {
    margin-top: 2rem;
    grid-template-columns: repeat(2, 0.7fr);
}

.dev-socials {
    gap: 1rem;
}

.main-link {
    background-color: var(--layout-bg-color);
    color: var(--main-link-text-color) !important;
}

.dev-social-link {
    font-weight: var(--font-bold);
    width: max-content;
    height: max-content;
    border: 1px solid var(--layout-bg-color);
    padding: .5rem;
    border-radius: 20px;
    display: flex;
    text-align: center;
    color: var(--text-color);
}

.dev-social-link:hover {
    transform: translateY(-5px);
    background-color: var(--social-bg-color);
    color: var(--social-text-color);
}

.copyright {
    padding: .1rem;
}

.copyright-title {
    font-size: 0.9rem;
    color: var(--text-color);
    font-weight: var(--font-regular);
}

.builder-social {
    font-weight: var(--font-smaller);
    cursor: pointer;
}


/*BREAKPOINTS START!*/
@media screen and (max-width: 380px) {

    .home-container,
    .about-container
    {
        flex-direction: column;
        row-gap: 1rem;
    }

    .home-break {
        display: none;
    }

    .home-title {
        font-size: 1.8rem;
        font-weight:var(--font-small) ;
        text-align:center;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }

    .home-subtitle {
        font-size: 1rem;
        display: flex;
        text-align: center;
    }

    .home-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-image {
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
    }

    .home-img {
        width: 100%;
        height: 370px;
    }

    .about__img {
        width: 100%;
        height: 300px;
    }

    .about-break {
        display: none;
    }

    .about-title {
        font-size: 1.7rem;
        font-weight: var(--font-small);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-subtitle,
    .about-pre-Subtitle
    {
        display: flex;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service-heading {
        padding: 0;
    }

    .service-title {
        font-size: 1.6rem;
    }

    .service-subtitle {
        font-size: 0.7rem;
        font-weight: var(--font-regular);
    }

    .services__service {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .services__service-item {
        width: 280px;
        height: max-content;
        
    }

    review-br {
        display: none;
    }

    .review-title {
        font-size: 1.5rem;
    }

    .reviews-item {
        grid-template-columns: repeat(1,2fr);
    }

    .review__item {
        width: 320px;
        justify-self: center;
    }

    .review-item-title {
        font-size: 1rem;
    }


    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        row-gap: 2em;
    }

    .footer-end {
        grid-template-columns: repeat(1, 1fr);
    }

    .copyright {
        margin-top: 1rem;
    }

    .copyright-title {
        font-size: 0.7rem;
        font-weight: var(--font-smaller);
    }
}

@media screen and (max-width: 350px) {

    .review__item {
        width: 300px;
    }
}

@media screen and (min-width: 380px) {

    .home-container,
    .about-container
     {
        flex-direction: column;
        row-gap: 1rem;
    }

    .home-break {
        display: none;
    }

    .home-title {
        font-size: 1.5rem;
        text-align:center;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }

    .home-subtitle {
        font-size: 1rem;
        display: flex;
        text-align: center;
    }

    .home-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-image {
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
    }

    .home-img {
        width: 450px;
        height: 380px;
    }

    .about__img {
        width: 100%;
        height: 300px;
    }

    .about-break {
        display: none;
    }

    .about-title {
        font-size: 1.7rem;
        font-weight: var(--font-small);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-subtitle,
    .about-pre-Subtitle
    {
        display: flex;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service-heading {
        padding: 0;
    }

    .service-title {
        font-size: 1.6rem;
    }

    .service-subtitle {
        font-size: 0.7rem;
        font-weight: var(--font-regular);
    }

    .services__service {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .services__service-item {
        width: 280px;
        height: max-content;
        
    }

    review-br {
        display: none;
    }

    .review-title {
        font-size: 1.5rem;
    }

    .reviews-item {
        grid-template-columns: repeat(1,2fr);
    }

    .review__item {
        width: 350px;
        justify-self: center;
    }

    .review-item-title {
        font-size: 1rem;
    }

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        row-gap: 2em;
    }

    .footer-end {
        grid-template-columns: repeat(1, 1fr);
    }

    .copyright {
        margin-top: 1rem;
    }

    .copyright-title {
        font-size: 0.7rem;
        font-weight: var(--font-smaller);
    }
}

@media screen and (min-width: 480px) {
    
    .home-title {
        font-size: 2rem;
        font-weight: var(--font-regular);
    }

    .service-title {
        font-size: 2rem;
    }

    .service-subtitle {
        font-size:1rem;
    }

    .services__service-item {
        width: 300px;
    }

    .review__item {
        width: 380px;
    }
}
@media screen and (min-width: 600px) {
    
    .home-subtitle {
        font-size: 1.7rem;
        font-weight: var(--font-small);
    }

    .home-img {
        width: 599px;
        height: 580px;
    }

    .about-image {
        transform: translateX(1.5rem);
    }

    .about__img {
        width: 500px;
    }

    .about-subtitle,
    .about-pre-Subtitle
    {
        font-size: 1rem;
        font-weight: var(--font-small);
    }

    .review-title {
        font-size: 2rem;
    }
    
    .review-subtitle {
        font-size: 1rem;
    }

    .review__item {
        width: 380px;
        justify-self: center;
    }

    .review-item-title {
        font-size: 1.2rem;
    }

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        row-gap: 2em;
    }

    .copyright-title {
        font-size: 0.8rem;
        font-weight: var(--font-bold);
    }
}


@media screen and (min-width: 767px) {

    .menu,
    .mbnav-links
    {
        display: none;
    }

    .home-img {
        width: 699px;
        height: 580px;
    }

    .cell-phone {
        display: none;
    }

    .cell-phoneme {
        display: block;
    }

    .about-image {
        transform: translateX(6rem);
    }

    .services__service {
        grid-template-columns: repeat(2, 1fr);
    }

    .reviews-item {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }


    .review__item {
        width: 320px;
    }

    .footer-content {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        row-gap: 2em;
    }

}

@media screen and (min-width: 930px) {

    .cell-phone {
       
        display: block;
    }

    .cell-phoneme {
        display: none;
    }


    .home-container {
        display: flex;
    }
    
    .home-container {
        position: relative;
        row-gap: 3em;
    }
    
    .home-intro {
        position: relative;
    }

    .home-break {
        display: block;
    }

    .home-title,
    .home-subtitle,
    .home-buttons
    {
        align-items: start;
        justify-content: start;
        text-align: start;
    }
    
    .home-title {
        color: var(--text-color);
        font-size: 4.5rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-regular);
        /* width: 85%; */
        /* line-height: 110px; */
    }
    
    .home-subtitle {
        padding: var(--pt-0-2);
        color: var(--text-color);
        font-size: 1.1rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-regular);
    }
    
    .home-container,
    .home-buttons {
        gap: 1.5rem;
        flex-direction: row;
    }
    
    .home__buttons {
        display: flex;
        width: 8.5rem;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-small);
        font-size: 0.9rem;
    }
    
    .home__button-rent {
        background-color: var(--layout-bg-color);
    }
    
    .home__button-rent-place {
        border: 1px solid var(--layout-bg-color);
        color: var(--text-color);
    }
    
    .home-image {
        padding: 1%;
        margin-right: -5.5rem ;
    }
    
    .home-img {
        width: 550px;
        height: 540px;
    }

    .about-container {
        flex-direction: row;
    }

    .about-break {
        display: block;
    }

    .about-image {
        transform: translateX(0);
    }

    .about-title {
        font-size: 3rem;
    }

    .about-title,
    .about-subtitle,
    .about-pre-Subtitle
    {
        justify-content: start;
        align-items: start;
        text-align: start;
    }


    .service-title {
        font-size: 4rem;
    }

    .service-subtitle {
        font-size:1rem;
    }

    .services__service-item {
        width: 330px;
    }

 
    .review-title {
        font-size: 3.5rem;
    }

    .review-item-title {
        font-size: 1.4rem;
    }

    .footer-end {
        grid-template-columns: repeat(2, 0.6fr);
    }

}
@media screen and (min-width: 1100px) {


    .home-container {
        display: flex;
    }
    
    .home-container {
        position: relative;
        row-gap: 3em;
    }
    
    .home-intro {
        position: relative;
    }

    .home-break {
        display: block;
    }

    .home-title,
    .home-subtitle,
    .home-buttons
    {
        align-items: start;
        justify-content: start;
        text-align: start;
    }
    
    .home-title {
        color: var(--text-color);
        font-size: 4.5rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-regular);
        /* width: 85%; */
        /* line-height: 110px; */
    }
    
    .home-subtitle {
        padding: var(--pt-0-2);
        color: var(--text-color);
        font-size: 1.1rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-regular);
    }
    
    .home-container,
    .home-buttons {
        flex-direction: row;
    }
    
    .home__buttons {
        display: flex;
        width: 8.5rem;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        font-family: var(--poppins-font);
        font-weight: var(--font-small);
        font-size: 0.9rem;
    }
    
    .home__button-rent {
        background-color: var(--layout-bg-color);
    }
    
    .home__button-rent-place {
        border: 1px solid var(--layout-bg-color);
        color: var(--text-color);
    }
    
    .home-image {
        padding: 1%;
        margin-right: -5.5rem ;
    }
    
    .home-img {
        width: 550px;
        height: 540px;
    }


    .about__img {
        width: 500px;
        height: 390px;
    }
    
    .about-container {
        gap: 2rem;
        row-gap: 2em;
        flex-direction: row;
    }
    
    .about-intro {
        gap: 1rem;
    }
    
    .about-text {
        gap: 0.7rem;
          
    }

    .about-break {
        display: block;
    }
    
    .about-title {
        font-size: 4rem;
        font-weight: var(--font-bold);
        font-family: var(--poppins-font);
        color: var(--text-color);
        justify-content: start;
        text-align: start;
        align-items: start;
    }
    
    .about-subtitle,
    .about-pre-Subtitle {
        font-size: 18px;
        color: var(--text-color);
        font-weight: var(--font-regular);
        font-family: var(--poppins-font);
        justify-content: start;
        align-content: start;
        text-align: start;
    }
    
    .about-button {
        padding: var(--pt-0-2);
        margin-top: 1rem;
        justify-content: start;
        text-align: start;
        align-items: start;
    }
    
    .about__button {
        height: 2.0rem;
        width: 8rem;
        background-color: var(--layout-bg-color);
        border-radius: 100px;
        color: var(--button-text-color);
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: var(--font-small);
        font-family: var(--poppins-font);
    }

    .services__service {
        grid-template-columns: repeat(3, 2fr);
        gap: 2rem;
        margin-top: 1rem;
    }

    .services__service-item {
        width: 300px;
        height: max-content;
        
    }

    .review-br {
        display: block;
    }

    .reviews-item {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .review__item {
        width: 320px;
    }

    .footer-content {
        grid-template-columns: repeat(4, 3fr);
        gap: 3rem;
        row-gap: 2em;
    }

    .copyright-title {
        font-size: 1rem;
        font-weight: var(--font-bold);
    }

}